.Card{
background-color: rgba(255, 255, 255, 0.953);
margin-bottom: 3rem;
width: 15rem;
height: 340px;
overflow: hidden;
border: 1px solid grey;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
position: relative;
display: flex;
flex-direction: column;
align-items: center;

}
.Card:hover{
    cursor: pointer;
}
.Card:hover > .prodName{
    color: rgb(255, 187, 0);
}


.Card img{
    height: 15rem;
    width: 15rem;

    margin-bottom: 0;
    border-bottom: 1px solid grey;
}

.Card h1{
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1rem;
}

.checked {
    color: orange;
}

.ratings span{
    margin-left: 0.2rem;
    
}

.ratings{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.price{
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;
}

.prodName{
    align-items: center;
}