.container{
    background-color: rgb(238, 236, 236);
    min-height:85vh;
}

.nav{
    
    background-color: rgb(35,47,62);
    display: flex;
    justify-content:flex-start;
    padding: 1rem;
    height: 4rem;
}

.nav button{
    font-size: 0.8rem;
    color: aliceblue;
    margin: 0;
    padding: 0.5rem;
    margin-right: 2rem;
    background-color: rgb(35,47,62);
    border: 0rem solid white;
    cursor: pointer;
    
}

.nav button:hover{
    border: 0.1rem solid white;
}

.display{

    background-color: rgb(238, 236, 236);
  
}

.notLogged{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

