.nav{
    padding: 1.5rem;
    display: flex;
    background-color: rgb(19,25,33);
    position: relative;
    margin-bottom: 0;
}
.logo{
    height: 3rem;
    margin-top: 0.8rem;
    cursor: pointer;
}

.login,.loggedIn{
    height: 4rem;
    width: 8rem;
    display:inline-block;
    border-radius:1rem;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#1e1d1d;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.loggedIn{
    background-color:rgb(51, 58, 78);
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    color: aliceblue;
}

.loggedIn:hover{
    color:#080808;
    background-color:rgb(254, 105, 105);
}

.login:hover{
    color:#080808;
    background-color:rgb(254,189,105);
}

.searchContainer{
display: flex;
justify-content: center;
margin-top: 0.5rem;
margin-left: 5rem;

}

.searchContainer input{
    outline: none;
    height: 2.5rem;
    margin-right: 0;
    max-width: 30rem;
    width: 25rem;
    border: none;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.4rem;
    transition: all 0.2s;
    padding: 1rem;
}



.searchContainer button{
    outline: none;
    height: 2.5rem;
    background-color:rgb(254,189,105);
    margin-left: 0;
    border: none;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
}

.cart{
    margin-right: 2.2rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.cart:hover{
    width: 2.7rem;
    height: 2.7rem;
    transition: all 0.2s;
}

.accountHolder{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}

.floatingBox{
    width: 15rem;
    background-color: rgb(29, 29, 29);
    position: absolute;
    top:0rem;
    right: 5.5rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    z-index: 1;
    box-shadow: rgb(207, 188, 130) 0px 5px 20px 1px;
}

.settings{
    font-size: 1rem;
    outline: none;
    background-color: rgb(29, 29, 29);
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.settings:hover{
    background-color: rgb(53, 53, 53);
}