.container{
    padding: 1rem;
}

.inputContainer{
    margin-left: 3rem;
    margin-top: 3rem;
display: flex;
width:25rem;
flex-direction: column;
justify-content: space-between;
}

.inputContainer div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.inputContainer div textarea{
    padding: 0.5rem;
}

.inputContainer div label{
    margin-right: 1rem;
}

.inputContainer div input{
    padding: 0.5rem;
}

.submitButton{
    padding: 1rem;
    outline: none;
    width: 70rem;
    cursor: pointer;
}