.container{
    padding: 1rem;
    display: flex;
}

.cartContainer{
    padding-left: 2rem;
    width: 60rem;
}
.images{
    height: 6rem;
    width: 6rem;
}

.contentTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5rem;
    min-width: 700px;
}

.contentTable thead tr{
    text-align: center;
}


.contentTable tbody tr{
    text-align: center;
    cursor: pointer;
    
}

.contentTable tbody tr:hover{
    background-color: rgb(246, 246, 246);
    
}

.contentTable th,.contentTable td{
    padding: 2rem;
   
}

.contentTable tbody tr td button img{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.contentTable tbody tr td button{
    height: 3rem;
    width: 5rem;
    outline: none;
    border: none;
    background-color: transparent;
}


.icons{
    height: 2rem;
    width: 2rem;
    transition: all 0.2s;
}

.icons:hover{
    height: 2.4rem;
    width: 2.4rem;
    transition: all 0.2s;
}

.modifyContainer{
    position: fixed;
    background-color: rgb(231, 231, 231);
    left: 3rem;
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
padding-top: 4rem;
}
.mcLeft{
    display: flex;
    flex-direction: column;
}

.close{
    height: 2rem;
    width: 2rem;
    position: absolute;
    right:  2rem;
    top: 2rem;
    cursor: pointer;
}

.inputContainer{
    margin-left: 3rem;
    margin-top: 3rem;
display: flex;
width:25rem;
flex-direction: column;
justify-content: space-between;
}

.inputContainer div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.inputContainer div textarea{
    padding: 0.5rem;
}

.inputContainer div label{
    margin-right: 1rem;
}

.inputContainer div input{
    padding: 0.5rem;
}

.submitButton{
    padding: 1rem;
    outline: none;
    width: 70rem;
    cursor: pointer;
}

.modfiyImage{
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
    margin-top: 5rem;
}

.confirmContainer{
    position: fixed;
    background-color: rgba(22, 22, 22, 0.821);
    left: 25rem;
    top: 15rem;
    right: 25rem;
    bottom: 10rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    color: white;
}

.stress{
    color: rgb(247, 125, 125);
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 30rem;
    margin-top: 5rem;
}

.buttons button{
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.cancel{
background-color: rgb(239, 184, 184);
transition: all 0.2s;
}

.confirm{
    background-color: rgb(225, 245, 196);
    transition: all 0.2s;
}

.cancel:hover{
    background-color: rgb(184, 125, 125);
    }
    
    .confirm:hover{
        background-color: rgb(179, 189, 126);
    }